html{
    box-sizing: border-box;
}
.background {
    background-color:aquamarine;
    height: 70vh;
    padding: 1em 3em 1em 3em;
}
.container {
    
    background-color: bisque;
    padding: 1em 1em 0em 2em;
    border: 5px;
    border-color: black;
    height: 90%;
    border-radius: 20px;
    
}
h1{
    border-style: solid;
    border-radius: 20px;
    padding-left: 1%;
}

h2 {
    margin:0;
}
.question {
    background-color: aqua;
    margin: 0.5em 1em 1em 1em;
    height: 40%;
    border-radius: 20px;
    padding: 1%;
}

.answer {
    background-color: blueviolet;
    margin: 2em 1em 3em 1em;
    height: 20%;
    padding: 1em 25% 1em 25%;
    border-radius: 20px;
}


.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 20px;

  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
#slideNum {
    width: 98%;
    border-radius: 20px;
    padding: 0 0 0 1%;
    
}

.submit {
    margin: 1em 20% 0em 20%;
    padding: 2% 20% 2% 20%;
    border-radius: 20px;
}