html{
    box-sizing: border-box;
}
.background {
    background-color:aquamarine;
    height: 70vh;
    padding: 1em 3em 1em 3em;
}
.container {
    
    background-color: bisque;
    padding: 1em 0em 0em 2em;
    border: 5px;
    border-color: black;
    height: 90%;
}
h1{
    border-style: solid;
    border-radius: 2px;
}
.question {
    background-color: aqua;
    margin: 0.5em 1em 1em 1em;
    height: 40%;
}

.answer {
    background-color: blueviolet;
    margin: 2em 1em 3em 1em;
    height: 20%;
    padding: 1em 25% 1em 25%;
}
.slidecontainer {
    width: 100%;

}

